body {
    background-image: url(./other/background.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#result {
    font-size: 16px;
    position: fixed;
    top: 10vh;
    right: 10vw;
}

#result button {
    text-align: center;
}

.centered {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#highscore {
    font-size: 4vh;
    top: 5vh;
}

#gamestatus {
    top: 50%;
    font-size: 4vw;
    z-index: 1;
}

.worldDiv {
    display: grid;
    border: solid 5px #35752c;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(./other/grass.png);
    background-size: cover;
}

.area {
    width: 4vh;
    height: 4vh;
}

.snake {
    background-size: cover;
}

.start {
    background-image: url(./other/roundJones.png);
}

.normal {
    background-image: url(./other/snake.png);
}

.item {
    background-image: url(./other/item.png);
    background-size: cover;
}

/* collapsible */

.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 15px 0px 5px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
}

.collapsible::after {
    font-weight: bold;
    background-color: green;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content div {
    padding: 10px 18px;
    font-size: 24px;
}

.content #collapsibleContent div {
    margin-top: 10px;
}

#mainContainer:last-child {
    margin-bottom: 20px;
}

.content p {
    margin: 20px 0px;
}