body {
    background-image: url(./other/background.jpg);
    background-size: cover;
}

.centered {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gamestatus {
    top: 50%;
    font-size: 2vw;
    z-index: 1;
}

.worldDiv {
    display: grid;
    border: solid 5px #35752c;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(./other/grass.png);
    background-size: cover;
}

.area {
    width: 4vh;
    height: 4vh;
}

.snake {
    background-size: cover;
}

.start {
    background-image: url(./other/roundJones.png);
}

.normal {
    background-image: url(./other/snake.png);
}

.item {
    background-image: url(./other/item.png);
    background-size: cover;
}