body {
    background-color: rgb(19, 148, 34);
}

.worldDiv {
    display: grid;
    border: solid 5px black;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.area {
    width: 4vh;
    height: 4vh;
    background-color: rgb(19, 148, 34);
}

.snake {
    background-size: cover;
}

.start {
    background-image: url(./other/jones.png);
}

.normal {
    background-image: url(./other/snake.png);
}

.item {
    background-image: url(./other/item.png);
    background-size: cover;
}